
@font-face {
    font-family:"SofiaProRegular";
    src:url("SofiaProRegular.woff2") format("woff2"),url("SofiaProRegular.woff") format("woff"),url("SofiaProRegular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        